<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Document</title>
</head>

<body>
    
    <!-- Search bar in top left corner. -->
    <header>
        <form action="/" method="GET" class="search-form">
            <div first-wrap>
                <input id="search" name="q" type="text" value="<%= searchQuery %>" placeholder="What are you looking for?" />
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
            </div>
        </form>
    </header>

    <main>
        <!-- Buttons for navigating to code/command snippets. -->
        <!-- These links are temporary. Change them later. -->
        <section class="btn-container" id="view-snippets">
            <a class="btn" href="/snip/python-a">Code Snippets</a> 
            <a class="btn" href="/snip/python-b">Command Snippets</a>
        </section>
        
        <!-- Buttons for navigating to the forms for creating 
        code/command snippets. -->
        <section class="btn-container" id="create-snippets">
            <a class="btn" href="/snip/new/code">Create code snippet</a>
            <a class="btn" href="/snip/new/command">Create command snippet</a>
        </section>
        
        <!-- Display snippets. -->
        <% snippets.forEach(snip=> { %>
            <div class="snippet-container">
                <h1>
                    <%= snip.title %>
                </h1>
                <span>
                    <%= snip.program %>
                </span>
                <%- snip.meta_html_sanitised %>
                <h4><strong>Tags</strong></h4>
                <ul class = "list">
                    <% snip.tags.forEach(tag=> { %>
                        <a class = "link" href="/snip/python-b"><%= tag  %> </a> 
                    <% }); %>
                </ul>

                <!-- Snippet Controls -->
                <ul class = "list">
                    <a class = "link" href="/snip/<%= snip.meta_slug %>">View</a>
                    <a class = "link" href="/snip/<%= snip.meta_slug %>/edit">Edit</a>
                    <a class = "link" href="/snip/<%= snip.meta_slug %>/delete">Delete</a>
                </ul>
            </div>
        <% }); %>
    </main>
</body>

</html>