<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <% snippets.forEach(snip => { %>
            <div>
                <span><%= snip.program %></span>
                <h4><%= snip.title %></h4>
                <code><%= snip.snippet %></code>
                <p><%= snip.description %></p>
                <ul>
                    <% snip.tags.forEach(tag => { %>
                        <li><%= tag %></li>
                    <% }); %>
                </ul>
            </div>
        <% }); %>
    </body>
</html>