<% snippets.forEach(snip=> { %>
    <div class="snippet-container">
        <h1>
            <%= snip.title %>
        </h1>
        <span>
            <%= snip.program %>
        </span>
        <%- snip.meta_html_sanitised %>
        <h4><strong>Tags</strong></h4>
        <ul class = "list">
            <% snip.tags.forEach(tag=> { %>
                <a class = "link" href="/tag/<%= tag %>"><%= tag  %> </a> 
            <% }); %>
        </ul>

        <!-- Snippet Controls -->
        <ul class = "list">
            <a class = "link" href="/snip/<%= snip.meta_slug %>">View</a>
            <a class = "link" href="/snip/<%= snip.meta_slug %>/edit">Edit</a>
            <a class = "link" href="/snip/<%= snip.meta_slug %>/delete">Delete</a>
        </ul>
    </div>
<% }); %>